 <header>
  <nav>
    <a href='/'><span>BREAD</span></a>
    <div class='nav-items'>
      <% if (user.userID) { %>
        <% if (user.admin) { %>
          <a href="/testingroute"><button class='create'>
            <i class="fas fa-plus"></i>
            POST NEW
          </button></a>
        <% } %>
        <button class='messages'>
          <i class="fas fa-comments"></i>
          MESSAGES
        </button>
        <button class='favourites'>
          <i class="fas fa-heart"></i>
          FAVOURITES
        </button>
        <a href="/api/users/logout">
          <button class='logout'>
            <i class="fas fa-sign-out-alt"></i>
            LOGOUT
          </button>
        </a>
      <% } else { %>
        <a href="/api/users/login/1">
          <button class='login'>
            <i class="fas fa-sign-in-alt"></i>
            LOGIN
          </button>
        </a>
      <% } %>
      </div>
  </nav>
  <div class='banner'>
  </div>
</header>

