<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POST A NEW BREAD</title>

  <!--External CSS-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&display=swap" rel="stylesheet">

  <!--Internal CSS-->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/chatWindow.css" type="text/css" />
  <link rel="stylesheet" href="/styles/create.css" type="text/css" />



</head>
<body>
  <!-- Nav Bar (fixed) -->
  <%- include ('partials/_nav') %>

  <main>
    <h2>CREATE A NEW LISTING</h2>
    <form>
      <label for="name">Listing Title</label>
      <input type="text" name="name" id="name" required>

      <label for="description">Description</label>
      <input type="textarea" name="description" id="description" required>

      <label for="price"></label>
      <input type="number" step="any" name="price" id="price" required>

      <label for="photo_url">Photo URL</label>
      <input type="text" name="photo_url" id="photo_url" required>

      <label for="weight">Weight</label>
      <input type="number" step="any" name="weight" id="weight" placeholder="In grams" required>

      <label for="city">City</label>
      <input type="text" name="city" id="city">

      <button>SUBMIT</button>

    </form>


  </main>






  <!--External JS-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!--Internal JS-->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/messageHelpers.js"></script>
  <script type="text/javascript" src="/scripts/messaging.js"></script>

</body>
