$logoText: 'Monoton', cursive;
$headersText: 'Play', sans-serif;
$bodyText: 'Lato', sans-serif;
$featureColor: rgba(204, 88, 3, 0.5);
$primaryColor: rgba(204, 88, 3, 1);
$secondaryColor: #E2711D;
$highlightColor: #FF9505;
$tertiaryColor: #FFB627;
$baseColor: #EEF0F2;
$borderColor: #474747;
