@import "globals";

  #chatWindow {
    position:absolute;
    top: 100px;
    right: 10%;
    display: flex;
    flex-direction: column;
    width: 400px;
    max-height: 700px;
    background-color: $baseColor;
    border: 4px solid $secondaryColor;
    align-items: center;
    padding-bottom: 0.5em;

    i {
      background-color: $secondaryColor;
      color: $baseColor;
      margin: 0;
      Padding: 0.3em;
      justify-content: center;
      display: flex;
      font-size: 3em;
    }

    .conversation {
      display: flex;
      border: 1px solid $tertiaryColor;
      padding-top: 0.5em;
      width: 95%;
      border-radius: 5px;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        margin-left: 5px;
        border-radius: 50%;
      }

      p {
        opacity: 90%;
        font-size: 0.8em;
        font-style: italic;
      }
    }

    .mes {
      display: flex;
      background-color: #ffffff;
      width: 70%;
      justify-content: space-between;


      span {
        font-family: $headersText;
        font-size: 1em;
        color: $secondaryColor;
        letter-spacing: normal;
      }
    }

    .sell {
      background-color: $tertiaryColor;
      span {
        color: $baseColor;
      }
    }

    .buy {
      align-self: flex-end;
    }

    .controls {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      margin-top: 20px;

      label {
        background-color: $quadColor;
        color: $baseColor;
        font-size: 0.8em;
        position: absolute;
        top: -20px;
        left: 20px;
        padding: 0.2em;
      }

      textarea {
        width: 90%;
        min-height: 100px;
        border: none;
        align-self: center;
      }

      button {
        background-color: $secondaryColor;
        padding: 0.2em;
        font-size: 1em;
        width: 30%;
        margin-left: 20px;
      }

      button:hover {
        box-shadow: none;
        background-color: $primaryColor;
      }
    }

    .conversation:hover {
      box-shadow: 5px 5px $navColor;
      cursor: pointer;
    }
  }
