@import 'globals';

.listingsLabel {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 50%;
  // border-bottom: 5px solid $primaryColor;
  // background-image: linear-gradient(to right, rgba(226, 113, 29, 1), rgba(226, 113, 29, 0));
  position: relative;

  h2 {
    margin-left: 10%;
    font-family: $headersText;
    color: $primaryColor;
    font-size: 2.8em;
    border-bottom: 5px solid $secondaryColor;
  }

 .initialFilter {
    position: absolute;
    bottom: -5px;
    left: 10%;
    width: 20%;
    border: 2px solid $baseColor;
    color: $baseColor;
    background-color: $quadColor;
    font-weight: bold;
  }

  button:hover {
    background-color: $secondaryColor;
  }

  button:focus {
    outline: none;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 45%;

    span {
     display: flex;
    }

    input {
      margin-bottom: 20px;
    }
  }


}
