@import 'globals';


.titleBanner {
  margin-top: 110px;
  margin-left: 8%;
  font-family: $headersText;
  font-size: 2.2em;
  width: 50%;

  h1 {
    border-bottom: 8px solid $primaryColor;
    color: $quadColor;
    margin-bottom: 40px;
  }

  button {
    background-color: $primaryColor;
    padding: 0.3em;
    font-size: 0.8em;
    border: none;
    color: $baseColor;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  button:hover {
    box-shadow: 5px 5px $tertiaryColor;
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  div {
    width: 100%;
    flex-shrink: 2;
  }

  .details {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    .chalk {
      background-color: #000000;
      background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
      margin-top: 0;
      margin-bottom: 0.5em;
      padding: 0.5em;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $headersText;
      color: $baseColor;
      font-size: 2.5em;
      font-style: italic;
      border-radius: 10px;
    }

    .userTag {
      background-color: $featuresColor;
      position: absolute;
      top: -35px;
      left: 0px;
      padding: 0.4em;
      color: $baseColor;
      border-radius: 10px;
      font-size: 1.2rem;
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 5%;
    width: 100%;

    button {
      background-color: $featuresColor;
      color: $baseColor;
      font-weight: bold;
      font-size: 2em;
      padding: 0.5em;
      border: none;
      border-radius: 10px;
      letter-spacing: 0.15em;
    }

    button:hover {
      background-color: #062421;
    }

    form {
      display:flex;
      flex-direction: column;

      label {
        margin-top: 10px;
        font-size: 1.2em;
        margin-bottom: 5px;
      }

      textarea {
        border: none;
      }

      textarea:focus {
        outline: none;
      }

      button {
        margin-top: 5px;
        font-size: 1.5em;
        width: 30%;
      }
    }

  }

}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;

  p {
    width: 60%;
    display: flex;
    padding: 0.4em;
    border-radius: 5px;
    font-family: $headersText;
    font-size: 1.8em;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed $tertiaryColor;
    margin: 3px;
  }

  p:first-child {
    align-self: center;
    display: flex;
    justify-content: center;
    font-size: 4em;
    padding: 0;
    color: $primaryColor;
    margin-top: -50px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: $baseColor;
    border-radius: 50%;
    border-bottom: none;
  }

  span {
    color: $secondaryColor;
    font-weight: bold;
  }


}




@media only screen and (min-width: 700px) {

  main {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    div {
      width: 45%;
    }
  }
}
